<form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModelGroup="contact" #contact="ngModelGroup">
    <!-- see if this entiry group is valid, or not -->
    <div
      *ngIf="contact.touched && !contact.valid"
    >
      Contact info is not valid
    </div>
    <div class="form-group">
      <label for="firstName">First name</label>
      <input
        minlength="3"
        maxlength="10"
        pattern="banana"
        required
        ngModel
        #firstNameModel="ngModel"
        name="firstName"
        id="firstName"
        type="text"
        (change)="log(firstNameModel)"
        class="form-control" />
      <div
        class="alert alert-danger"
        *ngIf="firstNameModel.touched && !firstNameModel.valid">
        <div *ngIf="firstNameModel.errors.required">
          The first name is required
        </div>
        <div *ngIf="firstNameModel.errors.minlength">
          The first name should me minimum {{ firstNameModel.errors.minlength.requiredLength }} characters
        </div>
        <div *ngIf="firstNameModel.errors.maxlength">
          The first name should me maximum 10 characters
        </div>
        <div *ngIf="firstNameModel.errors.pattern">
          The first name is not matches to the pattern
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea
      ngModel
      name="comment"
      id="comment"
      cols="30"
      rows="10"
      class="form-control"
    ></textarea>
    <!-- div>label>input[type=checkbox] -->
    <div>
      <label>
        <input type="checkbox" ngModel name="isSubscribed"> Subscribe to the mailing list
      </label>
    </div>
    div.form-group>label[for="contactMethod"]+select[id="contactMethod"].form-control
    <div class="form-group">
      <label for="contactMethod">Contact method</label>
      <select ngModel name="contactMethod" id="contactMethod" class="form-control">
        <option value=""></option>
        <option *ngFor="let method of contactMethods" [ngValue]="method">{{ method.name }}</option>
      </select>
    </div>
    <p>
      <!-- Diagnostic tool to see the object -->
      {{ f.value | json }}
    </p>
  </div>
  <button
    class="btn btn-primary"
    [disabled]="!f.valid"
  >
    Submit
  </button>
</form>
