<form [formGroup]="form"> <!-- (property binding) bind this form element to field of the component -->

  <label for="name">Name</label>
  <input type="text" id="name" name="name" formControlName="name" />

  <div class="form-group" formGroupName="contact"> <!-- subgroup in form -->
    <input type="text" name="email" />
    <input type="text" name="phone" />
  </div>

  <input
    class="form-control"
    type="text"
    (keyup.enter)="addTopic(topic)"
    #topic
  />

  <ul class="list-group">
    <li
      *ngFor="let topic of topics.controls"
      class="list-group-item"
      (click)="removeTopic(topic)"
    >
      {{ topic.value }}
    </li>
  </ul>
</form>
