/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

button {
  margin: 0 5px;
}

.glyphicon {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.glyphicon-star {
  background-color: green;
}
.glyphicon-star-empty {
  background-color: red;
}


/* also there is style ng-pristine */
.form-control.ng-invalid.ng-touched {
  border: 2px solid red;
}
